# exclude .gitignore and similar
.git*           export-ignore

# exclude pages files
.github/        export-ignore
_config.yml     export-ignore
index.md        export-ignore

# normalize line endings to LF
*	              text=auto
